body {
    background-color : rgba(0,0,200,0.1);
    text-align: center;
  }
  
  #title {
    font-size: 50px;
    font-family: arial;
    color: rgba(0, 0, 150, 0.6);
    text-decoration: underline;
    padding-bottom: 20px;
  }
  
  #image {
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px rgb(0, 0, 255);
    border-radius: 50%;
  }
  
  #name {
    font-size: 40px;
    font-family: arial;
    color:gray ;
  }

  #job {
    font-size: 30px;
    font-family : arial;
    color : rgba(0,0,100,0.6)
  }
  
  #text {
    font-family :arial ;
    font-size : 25px;
  }

  #div{
    border : 3px solid blue;
    width : 650px;
    height : 450px;
    margin : auto;
    border-radius : 5px;
    box-shadow : 3px 3px 10px rgba(0,0,255, 0.3);
    padding : 10px;
    background-color : #fff;
  }
  
  .btn {
    font-size : 40px;
    font-family : monospace;
    background-color : white;
    color :rgba(0,0,200,0.7) ; 
    border : none;
   position: sticky;
  }

  *{
      padding : 0;
      margin : 0;
  }